.version.index /* version checker */
{
	color: #000007;
	background-color: #FF80F5;
}

#page
{
	z-index: 1;
	min-height: 500px;
	border-width: 0px;
	border-color: #000000;
	width: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background: transparent url("../images/experimental-paint-texture-1.jpg") no-repeat left top;
	background-size: cover;
}

#page_position_content
{
	margin-top: -4px;
	padding-bottom: 379px;
	width: 100%;
}

#u94_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u97
{
	z-index: 3;
	margin-bottom: -27px;
	position: relative;
	margin-right: -10000px;
	margin-top: -8px;
	width: 12.5%;
	left: 6.3%;
}

#u97_img
{
	display: block;
	vertical-align: top;
	width: 100%;
}

#menuu506
{
	z-index: 5;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	width: 63.4%;
	left: 22.7%;
}

#u551
{
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 33.13%;
}

#u552
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #000000;
	padding-bottom: 19px;
	position: relative;
	width: 100%;
}

#u552:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease-in;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u552:active
{
	border-color: #7F7F7F;
	background-color: #FCEE21;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u555
{
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	width: 99.05%;
	background: transparent url("../images/u555.png") no-repeat 0px 0px;
	background-size: contain;
}

#u552:hover #u555
{
	background: transparent url("../images/u555-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u507
{
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 33.13%;
	left: 33.44%;
}

#u510
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #000000;
	padding-bottom: 19px;
	position: relative;
	width: 100%;
}

#u510:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease-in;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u510:active
{
	border-color: #7F7F7F;
	background-color: #FCEE21;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u513
{
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	width: 99.05%;
	background: transparent url("../images/u513.png") no-repeat 0px 0px;
	background-size: contain;
}

#u510:hover #u513
{
	background: transparent url("../images/u513-r.png") no-repeat 0px 0px;
	background-size: contain;
}

#u593
{
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 33.13%;
	left: 66.88%;
}

#u594
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: #000000;
	padding-bottom: 19px;
	position: relative;
	width: 100%;
}

#u594:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease-in;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u594:active
{
	border-color: #7F7F7F;
	background-color: #FCEE21;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u552.MuseMenuActive,#u510.MuseMenuActive,#u594.MuseMenuActive
{
	border-color: #FFFFFF;
	background-color: #C7B299;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u597
{
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	width: 99.05%;
	background: transparent url("../images/u597.png") no-repeat 0px 0px;
	background-size: contain;
}

#u555 .fluid_height_spacer,#u513 .fluid_height_spacer,#u597 .fluid_height_spacer
{
	padding-bottom: 10.096153846153847%;
}

#u594:hover #u597
{
	background: transparent url("../images/u597-r.png") no-repeat 0px 0px;
	background-size: contain;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u94,#u94-bw
{
	z-index: 2;
	min-height: 90px;
}

#pmenuu647
{
	margin-top: -1px;
	width: 100%;
}

#menuu647
{
	z-index: 21;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 98%;
	left: -1.2%;
}

#u648
{
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 19.8%;
}

#u651
{
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u651:hover
{
	background-color: #999999;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u651:active
{
	background-color: #6B6B6B;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u654-4
{
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u651:hover #u654-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u651:active #u654-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u692
{
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 19.8%;
	left: 20%;
}

#u693
{
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u651.MuseMenuActive,#u693:hover
{
	background-color: #999999;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u693:active
{
	background-color: #6B6B6B;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u696-4
{
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u651.MuseMenuActive #u654-4,#u693:hover #u696-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u693:active #u696-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u713
{
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 19.8%;
	left: 40%;
}

#u714
{
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u693.MuseMenuActive,#u714:hover
{
	background-color: #999999;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u714:active
{
	background-color: #6B6B6B;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u716-4
{
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u693.MuseMenuActive #u696-4,#u714:hover #u716-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u714:active #u716-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u734
{
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 19.9%;
	left: 60%;
}

#u735
{
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u714.MuseMenuActive,#u735:hover
{
	background-color: #999999;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u735:active
{
	background-color: #6B6B6B;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u736-4
{
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u714.MuseMenuActive #u716-4,#u735:hover #u736-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u735:active #u736-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u755
{
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 19.9%;
	left: 80.11%;
}

#u756
{
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u735.MuseMenuActive,#u756:hover
{
	background-color: #999999;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u756:active
{
	background-color: #6B6B6B;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u756.MuseMenuActive
{
	background-color: #999999;
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u757-4
{
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u735.MuseMenuActive #u736-4,#u756:hover #u757-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u756:active #u757-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u756.MuseMenuActive #u757-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u776
{
	z-index: 52;
	height: 34px;
	background-color: #C4C4C4;
	position: relative;
	margin-right: -10000px;
	width: 22.41%;
	left: 96%;
}

#u779
{
	z-index: 53;
	height: 34px;
	background-color: #C4C4C4;
	position: relative;
	margin-right: -10000px;
	width: 23.1%;
	left: -23.1%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

